@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

body {
  background: oklch(98.4% 0.003 247.858); /* slate-50 */
  font-family: "Inter", sans-serif;
}

a.active hr {
  display: block;
}
